.box-container {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-inner-text {
  font-weight: bold;
  font-size: 16px;
}